.dropdown-menu>li>a small,
.navbar-nav>li>a small {
  margin-top: -6px;
  display: block;
}

.navbar-nav>li>a.two-line {
  padding-top: 12px;
  padding-bottom: 12.45px;
}

.panel-footer .pagination {
  margin: 8px 0 0;
}

.form-control-static {
  font-size: 16px;
  line-height: 1.846;
  color: #666666;
  height: 37px;
  line-height: 1.446;
}

.control-label-static {
  text-align: right;
  margin-bottom: 0;
  padding-top: 7px;
}

.form-group-static {
  margin-bottom: 15px;
}

.btn-round {
  border-radius: 100%;
  padding: 14px;
  width: 52px;
  height: 52px;
}

.panel-default > .panel-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background: transparent;
  padding: 20px 15px;
}
.panel-default > .panel-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  background: transparent;
}

.panel-heading .pull-right.btn-round {
     margin-top: -4px;
    margin-bottom: -12px;
}

.panel-title {
  color: rgba(0,0,0,0.57);
  font-weight: 500;
  text-transform: uppercase;
}
.panel-title small {
  color: rgba(0,0,0,0.57);
  font-size: 0.9em;
  text-transform: none;
}

.navbar-inverse .navbar-nav>li>a .text-muted {
  color: #b2dbfb;/*rgba(255,255,255,0.57);*/
}